/* TextBalloon -------------- */
.text-message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  padding: 4px;
  background: var(--menu-background);
  border-top: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
  z-index: 30;
}

.text-message-p {
  margin: 0;
  font-size: 12px;
}

.text-message-button {
  margin: 0;
  font-size: 8px;
  padding: 0;
  -webkit-appearance: none;
  background: none;
  border: 0;
  font-family: inherit;
  cursor: pointer;

  position: absolute;
  right: 2px;
  bottom: 0;
}


.fadeIn-component {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  opacity: 0;

  animation: fadeIn 1s forwards;
}

.fadeOut-component {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  opacity: 0;

  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

