.battle-status-menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45px;
  padding: 4px;
  background: var(--menu-background);
  border-top: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;

  font-size: 45%;

  z-index: 25;
}

.battle-status-menu * {
  margin: 0;
  padding: 0;
}

/* PLAYER -------------------------------------------- */
.player-status {
  border-right: 1px solid var(--menu-border-color);
  width: 45%;
  height: 100%;
}

.player-title {
  display: flex;
}

.player-info {
  display: flex;
  font-size: 140%;
}

.player-info-name,
.player-title-name {
  text-align: center;
  width: 30%;
}

.player-info-hp,
.player-title-hp {
  text-align: center;
  width: 40%;
}

.player-title-mp {
  text-align: center;
  width: 30%;
}

/* ENEMY -------------------------------------------- */
.enemy-status {
  border-right: 1px solid var(--menu-border-color);
  width: 25%;
  height: 100%;
  padding-right: 5px;
}

.enemy-title {
  display: flex;
}

.enemy-info {
  display: flex;
  font-size: 140%;
}

.enemy-info-name,
.enemy-title-name {
  text-align: center;
  width: 50%;
}

.enemy-info-hp,
.enemy-title-hp {
  text-align: center;
  width: 50%;
}

/* HP bars -------------- */

.enemy-info-hp,
.player-info-hp {
  position: relative;
  font-size: 80%;
  text-align: center;
}

.hp-bar-total {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--menu-border-color);
}

.hp-bar-used {
  position: absolute;
  height: 1px;
  background-color: rgb(26, 182, 26);
}

/* MP bars ---------- */

.player-info-mp {
  text-align: center;
  margin-left: 10px;
  width: 25px;

  position: relative;
  font-size: 80%;
  text-align: center;
}

.mp-bar-total {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--menu-border-color);
}

.mp-bar-used {
  position: absolute;
  height: 1px;
  background-color: cyan;
}

/* MENU -------------------------------------------- */
.menu {
  /* border: 1px solid blue; */
  width: 30%;
  height: 100%;

  padding-left: 8px;
  font-size: 160%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-option-blocked,
.menu-option {
  border: 1px solid var(--menu-border-color);
  border-radius: 2px;
  margin-top: 2px;
  margin-left: 2px;
  width: 42px;
  font-size: 80%;
  background: none;
  cursor: pointer;
  outline: 0;
}

.menu-option:hover {
  border-color: var(--menu-selected-background);
}

.menu-option:focus {
  border-color: var(--menu-selected-background);
  outline: 0;
}

.menu-option:active {
  background-color: var(--menu-active-background);
}


/* Status board container ---------------- */
.status-board-container {
  z-index: 40;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  min-height: 98px;
  background: var(--menu-background);
  border-bottom: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5px 10px;
}

.status-board-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 30px;
  font-size: 150%;
  font-family: "VT323", monospace;
  background: none;
  cursor: pointer;
}

.status-board-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-bottom: 1px solid var(--menu-border-color);
}

.status-board-title-name {
  text-align: center;
  width: 20%;
}

.status-board-title-status {
  text-align: left;
  margin-left: 20px;
  width: 70%;
}

.status-board-player {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.status-board-player-name {
  text-align: center;
  width: 20%;
}

.status-board-player-status {
  text-align: left;
  margin-left: 20px;
  /* width: 70%; */

  display: flex;
  flex-direction: row;
  align-items: center;
}

.status-board-player-status h3 {
  margin-left: 5px;
}

/* Attack list ------------------ */

.attack-list-container {
  position: absolute;
  top: -154px;
  bottom: 0px;
  right: 0;
  left: 0;
}

.attack-list-close-click{
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
}

.attack-list {
  position: relative;
  z-index: 40;
  top: 133px;
  left: 245px;
  padding: 2px;
  font-size: 110%;

  width: 105px;
  height: 60px;
 
  background: var(--menu-background);
  border-top: 1px solid var(--menu-border-color);
  box-shadow: -2px 2px 5px var(--border-shadow);
  color: var(--menu-font-color);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px;

  grid-auto-flow: column;
}

.attack-list button {
  height: 100%;
  outline: 0;
  cursor: pointer;

  background: none;
  font-size: 50%;

  border-radius: 2px;
  border: 1px solid var(--menu-border-color);
}

.attack-list button:hover {
  border-color: var(--menu-selected-background);
}

.attack-list button:active {
  background-color: var(--menu-active-background);
}

.attack-list button:focus {
  border-color: var(--menu-selected-background);
}
